<ion-header>

  <ion-navbar color="danger">
    <ion-title>Platz</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--Add item list -->
  <!-- <ion-list [virtualScroll]="items">
    <ion-item *virtualItem="let item" (click)='goPlace(item)'>-->
  <ion-list>

    <ion-item-sliding *ngFor="let item of items">
      <ion-item>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png'" item-left>
          <img src="assets/img/restaurant.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png'" item-left>
          <img src="assets/img/food.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png'" item-left>
          <img src="assets/img/bar.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png'" item-left>
          <img src="assets/img/store.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png'" item-left>
          <img src="assets/img/general.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/museum-71.png'" item-left>
          <img src="assets/img/museum.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/doctor-71.png'" item-left>
          <img src="assets/img/hospital.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/atm-71.png'" item-left>
          <img src="assets/img/atm.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png'" item-left>
          <img src="assets/img/bank.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png'" item-left>
          <img src="assets/img/school.jpg">
        </ion-icon>

        <ion-icon *ngIf="item.icon == 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png'" item-left>
          <img src="assets/img/alojamento.jpg">
        </ion-icon>

        <p id="title">{{ item.name }}</p>
        <p ion-text color="#a9a9a9">{{ item.vicinity }}</p>
        <!-- Error: undefined open_now - Solved with operator Elvis '?'-->
        <p ion-text color="danger_2" *ngIf="item.opening_hours?.open_now === false">Es ist jetzt geschlossen</p>
        <p ion-text color="secondary" *ngIf="item.opening_hours?.open_now === true">Es ist jetzt offen</p>
        <p id="rating">
          <!-- Show only If rating >= 1 or != null -->
          <ion-icon name="thumbs-up" *ngIf="item.rating >= 1"> {{ item.rating }}</ion-icon>
        </p>

      </ion-item>

      <ion-item-options>
        <button color="light" ion-button (click)='goDetails(item)' id="box"><ion-icon name="ios-information-circle-outline"></ion-icon>Info</button>
        <button color="los" ion-button (click)='goPlace(item)' id="box"><ion-icon name="ios-pin-outline"></ion-icon>Los!</button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
