page-go-places {
  #map {
    height: 100%;
    width: 100%;
  }
  #direction {
    height: 100%;
    width: 100%;
  }
  #title {
    width: 100%;
  }
  .scroll {
    height: 100%
  }
  ion-card {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
  }
}
