page-go-places {
  #map {
    height: 100%;
    width: 100%;
  }
  #direction {
    height: 100%;
    width: 100%;
  }
  #title {
    width: 100%;
  }
  .scroll {
    height: 100%
  }
  #icon {
    font-size: 1.7em;
  }
}
